@import url("https://fonts.googleapis.com/css2?family=Geostar&family=Inter:wght@200;500&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.main,
h1 {
  text-align: center;
}

h1 {
  color: #f4f4f4;
  background-color: #1e1f26;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
  top: 0;
  position: relative;
  width: 100%;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  margin-top: 80px;
}

h3 {
  color: #0066cc;
}

p {
  text-align: justify;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

footer {
  background-color: #1e1f26;
  padding: 20px;
  text-align: center;
  color: #f4f4f4; /* Cor do texto no rodapé */
}

/* Adiciona um estilo para links no rodapé */
footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    padding: 15px 0;
  }

  p {
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Media Query para telas entre 601 pixels e 1200 pixels */
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    img {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  /* Media Query para telas maiores que 1200 pixels */
  @media only screen and (min-width: 1201px) {
    img {
      margin-left: 15%;
      margin-right: 15%;
    }
  }
}
